*~
/native/
cache/
sequences/
tracker/examples/native/build
tracker/examples/native/ncc
tracker/examples/native/static_c
tracker/examples/native/static_cpp
configuration.m
/tracker_*.m
workspace/logs/
workspace/reports/
workspace/results/
workspace/archives/
testing/
*.pyc
